:root{
    
    font-size: 16px;
    font-family: 'Barlow', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    


}

#user__picture{
    background-image:linear-gradient(to bottom right, rgb(67, 81, 209), rgb(0, 195, 255));
    padding: 50px;
    border-radius: 20px 60px;
}



*{
    margin: 0;
    padding: 0;
}

fieldset{
    margin-top: 1.5rem;
    border-color: rgba(182, 182, 182, 0.479);
    border-radius: 13px;
    box-shadow: 3px  rgba(161, 155, 155, 0.534);
    background-color: rgba(236, 234, 234, 0.623);
}


fieldset legend{

    text-align: center;
    width: 80%;

    background-color: black;
    color: white;
    padding: 0.5rem;
    border-radius: 10px;
    margin-bottom: 13px;
}



main{
    width: 80%;
    margin: 13px auto;
}

.flex-direction__column{
    display: flex;
    flex-direction: column;

}

.flex-direction__row{
    display: flex;
    flex-direction: row;

}

.flex_space-between{
    justify-content: space-between;
}


*{
    margin: 0;
    padding: 0;
    

}


#user{


}



#user__logo{
    
    display: flex;
    
    margin: 0 auto;

    min-width: 120px;
    max-width: 120px;

   
    

}




#update-btn{
    

    text-align: center;
    align-self: center;
    color: rgb(0, 0, 0);

    font-family: inherit;
    font-size: 0.8rem;
    font-weight: bold;
    background-color: rgb(0, 255, 34);

    margin-top: 20px;

    
}

#update-btn:hover{
    background-color: rgb(6, 209, 33);
}

.user-edit-informations{
    margin-inline-start: auto;
    margin-inline-end: auto;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;

}


.menu-row{

}

.btn-edit{
    width: 70%;

    border-radius: 8px;
    padding: 1.5rem;
    border-style: hidden;
    margin: 0.5rem;
}

.delete-btn{
    background-color: red;
    color: white;
    font-family: initial;
    
}





.title-user-information{
    font-weight: bolder;

}


.user-information{

}

.user-information__item{
    width: 70%; 
    margin:auto; 
    text-align: center;


}


.user-information__input-field{
    
    width: inherit;
    margin: auto;

    border-radius: 8px;
    padding: 7px 0;
    border-color: rgb(212, 212, 212);

    box-shadow: none;
    border-color: none;

}




